<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">

    <title>SchoolOS v0.0.1</title>
</head>

<body>

    <div class="layout">
        <!-- Левое меню -->
        <aside class="sidebar">
            <h2>Навигация</h2>
            <ul>
                <li><a href="#board">Доска</a></li>
                <li><a href="#chats">Чаты</a></li>
                <li><a href="#tasks">Задачи</a></li>
                <li><a href="#notes">Заметки</a></li>
                <li><a href="#events">Мероприятия</a></li>
            </ul>
        </aside>

        <!-- Основной контент -->
        <main class="main-content">
            <h1>Welcome to SchoolOS v0.0.1</h1>
        </main>
    </div>

    <footer>
        <p>
            сделано Redline Tech (одним 14-летним парнем),
            при помощи чая и веры в open source
        </p>
    </footer>

</body>

</html>